<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Examples</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
<style>
	[v-cloak] {
		display: none;
	}
</style>
</head>
<body>
    <div id="demo">
    	<p v-text="p1"></p>
    	<p v-html="p2"></p>
    	<p v-if="p3">v-if</p>
    	<p v-else>v-else</p>
    	<p v-show="p4">v-show</p>
    	<p v-bind:title="p5" v-bind:class="['name', 'text']">p5</p>
    	<input v-model="txt" />
    	<p v-cloak>{{ txt }}</p>
    	<ul>
    		<li v-for="item in items" v-cloak>{{ item }}</li>
    	</ul>
    	<button v-on:click="add">添加</button>
    	<button v-on:click="remove">删除</button>
    </div>
    <script type="text/javascript" src="vue.js"></script>
    <script>
    	var vm = new Vue({
    		el: '#demo',
    		data: {
    			a: 1,
    			b: 2,
    			p1: '123',
    			p2: '<a href="">链接</a>',
    			p3: false,
    			p4: false,
    			p5: 'p5',
    			className: 'text',
    			items: [1, 3, 5, 7, 9],
    			txt: '1212',
    		},
    		methods: {
    			add: function() {
    				console.log(~~(Math.random() * 10))
    				this.items.push(~~(Math.random() * 10))
    			},
    			remove: function() {
    				this.items.splice(this.items.length - 1, 1)
    			}
    		},
    		created: function () {
    			console.log('this a:' + this.a);
    		},
    		mounted: function() {

    		}
    	})
    </script>
</body>
</html>